body 
    {
        background-color:black;
    }

.calendar 
    {
        width:50%;
        margin:auto;
    }
.header
    {
        position:relative;
        right:87px;
        background-color:black;
        color:red;
        text-align:center;
        margin:auto;
        font-size:25px;
    }