body
{
    background-color:black;
    height:960px;        
}

.top
{
    width:80%;
    height:30%;
    margin: 0px auto 0px auto;
    background-color:black;
    display:flex;
}

.middle
{
    background-color:black;
    width:80%;
    height:20%;
    margin: 0px auto 0px auto;
    display:flex;
    align-items:center;
}

.bottom
{
    width:80%;
    height:50%;
    margin: 0px auto 0px auto;
    display:flex;
    border-style:solid;
    border-color:#1b1b1be3;
    border-width: 3px;
    background-image: linear-gradient(#000000, #c3c3c3);
}
.frame img {
  border:solid 2px;
  border-bottom-color:#ffe;
  border-left-color:#eed;
  border-right-color:#eed;
  border-top-color:#ccb;
  max-height:100%;
  max-width:100%;
}

#window
{
    background-image:url("images/Bathroom12.jpg");
    background-size:cover;
    height:40%;
    width:auto;
    position:relative;
    right:5%;
    top:5%;
    z-index:50;
}

.frame
{
    
    background-color:#ddc;
    border:solid 3vmin #eee;
    border-bottom-color:#fff;
    border-left-color:#eee;
    border-radius:2px;
    border-right-color:#eee;
    border-top-color:#ddd;
    box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing:border-box;
    display:inline-block;
    margin:10vh 10vw;
    height:40vh;
    padding:2vmin;
    position:relative;
    text-align:center; }
.frame::before
 {
    border-radius:2px;
    bottom:-1vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-1vmin;
    position:absolute;
    right:-1vmin;
    top:-1vmin;
  }
.frame::after
{
    border-radius:2px;
    bottom:-1.25vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-1.25vmin;
    position:absolute;
    right:-1.25vmin;
    top:-1.25vmin;
  }
#slider
{
    position:relative;
    margin-left:auto;
    margin-right: auto;
    opacity:1;
    transition: opacity 2s; 
    z-index:0;

}

#slider.fadeOut
{
  opacity:0;
}


#licenseDiv
{
    background-image: url("file:///C:/Users/oldai/Documents/Coding/Web%20Dev/Arctavis/Oldain.github-homepage/candelariaservices/images/bricks.png");
    background-repeat:repeat;
    width:82.4%;
    margin: 0px auto 0px auto;
    height: 966px;
    position:Absolute;
    left:7.4%;
    z-index:3;
    
}

#sideBar1
{
    display:flex;
    flex-direction: column;
    width:15%;
    
    
    
}

p
{
    font-family: 'Berkshire Swash', cursive;
    font-size:2rem;
    color:white;
    text-align:center;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
}

#licenseInfo 
{
    position:relative;
    right:25%;
    background-image: url("file:///C:/Users/oldai/Documents/Coding/Web%20Dev/Arctavis/Oldain.github-homepage/candelariaservices/images/bricks.png");
    background-repeat:repeat;
    height:33.33%;
    width:100%;
    border-style:solid;
    border-color:#1b1b1be3;
    border-width: 3px;
    z-index:4; 
}

#licenseInfo p 
{     
    position:relative !important;
    top:17.5%;
    height:100%;
    text-decoration: none;
    margin: 0 0 0 0;
    z-index:4;
}

#lAndI
{   
    position:relative;
    top:15% !important;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
    color:white;
    text-align:center;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
    border:none;
    background:none;
    font-size:1.25rem !important;
    z-index:4;   
}

#lAndI:hover
{
    color:#dd121c;
    cursor:pointer;
    z-index:4;
}

#CandI,#CandI:visited
{
    position:relative;
    bottom:15% !important;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
    color:white;
    text-align:center;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
    font-size:1.5rem !important;   
}

#CandI:hover
{
    color:#dd121c;
}

#aboutText,#aboutText:visited
{
    position:relative;
    bottom:15% !important;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
    color:white;
    text-align:center;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
    font-size:2rem !important;   
}

#aboutText:hover
{
    color:#dd121c;
}

#whatDoText,#whatDoText:visited
{
    position:relative;
    bottom:15% !important;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
    color:white;
    text-align:center;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
    font-size:2rem !important;   
}

#whatDoText:hover
{
    color:#dd121c;
}

#photoGalText,#photoGalText:visited
{
    position:relative;
    bottom:15% !important;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
    color:white;
    text-align:center;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
    font-size:2rem !important;   
}

#photoGalText:hover
{
    color:#dd121c;
}

#appCalText,#appCalText:visited
{
    position:relative;
    bottom:15% !important;
    text-decoration: none;
    font-family: 'Berkshire Swash', cursive;
    color:white;
    text-align:center;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    vertical-align: middle;
    text-decoration:none;
    font-size:2rem !important;   
}

#appCalText:hover
{
    color:#dd121c;
}

#contactInfo
{
    position:relative;
    right:25%;
    background-image: url("file:///C:/Users/oldai/Documents/Coding/Web%20Dev/Arctavis/Oldain.github-homepage/candelariaservices/images/bricks.png");
    background-repeat:repeat;
    height:33.33%;
    width:100%;
    margin-bottom:25%;
    margin-top:25%;
    border-style:solid;
    border-color:#1b1b1be3;
    border-width: 3px;     
}

#contactInfo p
{
    position:relative !important;
    font-size:1.5rem !important;
}

#companyName
{
    background-image: linear-gradient(#c3c3c3, #000000);
    width:85%;
    border-style:solid;
    border-color:#1b1b1be3;
    border-width: 3px;
}

#candelaria
{
    position:relative; 
    bottom:5%;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Dancing Script', cursive;
    font-size:8rem;
    color:black;
    text-align:center;
    position:relative;
}

#motto
{
    font-family: 'Berkshire Swash', cursive;
    font-size:3rem;
    color:white;
    text-align:center;
    text-shadow: 2px 2px 4px #000000;
}

#motto b
{
    color:#dd121c;
}

@media (max-width: 1760px)
{
    #licenseInfo p
    {
        position:relative !important;
    }
    #contactInfo p
    {
        position:relative !important;
        
        font-size:1.4rem !important;
    }
    #lAndI,#lAndI:visited
    {
        
        position:relative;
        bottom:15% !important;
        text-decoration: none;
        font-family: 'Berkshire Swash', cursive;
        color:white;
        text-align:center;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
        vertical-align: middle;
        text-decoration:none;
        font-size:1.2rem !important;
        
    }
    
}

@media (max-width: 1536px)
{
#licenseInfo p
    {
        position:relative !important;
        bottom:15%;
    }

    #lAndI,#lAndI:visited
    {
        
        position:relative !important;
        bottom:15% !important;
        text-decoration: none;
        font-family: 'Berkshire Swash', cursive;
        color:white;
        text-align:center;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
        vertical-align: middle;
        text-decoration:none;
        font-size:1rem !important;
        
    }
    #whatDoText,#whatDoText:visited
    {
        position:relative !important;
        bottom:15% !important;
        text-decoration: none;
        font-family: 'Berkshire Swash', cursive;
        color:white;
        text-align:center;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
        vertical-align: middle;
        text-decoration:none;
        font-size:2rem !important;   
    }
    #whatDoText:hover
    {
        color:#dd121c;
    }
    #CandI
    {
        position:relative !important;
        bottom:25% !important;
    }
}

@media(max-width:1345px)
{
    #candelaria
    {
        font-size:7rem !important;
        position:relative !important;
        top:10% !important;
        
    }
    #motto
    {
        font-size:3rem;
        position:relative !important;
        top:10% !important;
    }
    #whatDoText,#whatDoText:visited
    {
        position:relative !important;
        bottom:15% !important;
        text-decoration: none;
        font-family: 'Berkshire Swash', cursive;
        color:white;
        text-align:center;
        text-shadow: 2px 2px 4px #000000;
        text-align: center;
        vertical-align: middle;
        text-decoration:none;
        font-size:1.25rem !important;   
    }
    #whatDoText:hover
    {
        color:#dd121c;
    }
}
    @media (max-width: 1274px)
    {

        #candelaria
        {
            font-size:6rem !important;
            position:relative !important;
            top:10% !important;
            
        }
        #motto
            {
                font-size:3rem;
                position:relative !important;
                top:10% !important;
            }

        #licenseInfo p
            {
                position:relative !important;
                bottom:15%;
            }
        #photoGallery p
            {
                position:relative !important;
            }
        #photoGalText
        {
                position:relative !important;
                font-size:1.85rem !important;
        }
        #whatDo p
            {
                position:relative !important;
                
            }
        #appCalendar p
            {
                position:relative !important;
                font-size:2rem !important;   
                bottom:25% !important;
            }
        #contactInfo p
        {
            position: relative !important;
            bottom:0% !important;
        }
        @media (max-width:1180px)
        {
            #lAndI,#lAndI:visited
            {
                
                position:relative;
                bottom:15% !important;
                text-decoration: none;
                font-family: 'Berkshire Swash', cursive;
                color:white;
                text-align:center;
                text-shadow: 2px 2px 4px #000000;
                text-align: center;
                vertical-align: middle;
                text-decoration:none;
                font-size:0.8rem !important;
                
            }
            #photoGallery p
            {
                position: relative !important;
                bottom:25% !important;
            }
        }
    }

#aboutUs
{
    background-image: url("file:///C:/Users/oldai/Documents/Coding/Web%20Dev/Arctavis/Oldain.github-homepage/candelariaservices/images/bricks.png");
    background-repeat:repeat;
    width:22%;
    height:50%;
    margin-left:18.6%;
    margin-right:3.7%;
    border-style:solid;
    border-color:#1b1b1be3;
    border-width: 3px;
}

#whatDo
{
    background-image: url("file:///C:/Users/oldai/Documents/Coding/Web%20Dev/Arctavis/Oldain.github-homepage/candelariaservices/images/bricks.png");
    background-repeat:repeat;
    width:20%;
    height:50%;
    border-style:solid;
    border-color:#1b1b1be3;
    border-width: 3px;
}

#companyLogo
{
    position:relative;
    z-index:2;
}

#photoGallery
{
    background-image: url("file:///C:/Users/oldai/Documents/Coding/Web%20Dev/Arctavis/Oldain.github-homepage/candelariaservices/images/bricks.png");
    background-repeat:repeat;
    position:relative;
    right:25%;
    bottom:10%;
    width:125%;
    height:20%;
    margin-bottom:25%;
    border-style:solid;
    border-color:#1b1b1be3;
    border-width: 3px;
    
}

#appCalendar
{
    background-image: url("file:///C:/Users/oldai/Documents/Coding/Web%20Dev/Arctavis/Oldain.github-homepage/candelariaservices/images/bricks.png");
    background-repeat:repeat;
    position:relative;
    right:25%;
    width:125%;
    height:20%;
    border-style:solid;
    border-color:#1b1b1be3;
    border-width: 3px;
}

#appCalendar p
{
    position:relative !important;
    bottom:25%;
}

#sideBar2
{
    height:100%;
    width:15%;
}
