body
{
  text-align: center;
  background-color:black;
}

.heart
{
	font-size: 400px;
	color: red;
	animation: beat .50s infinite alternate;
	transform-origin: center;
}

@keyframes beat
{
	to { transform: scale(1.4); }
}

h1
{
  position:relative;
  bottom:200px;
}
